body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #ff1616;
    margin: 0;
    padding: 0;
}

header {
    background-color: #882388;
    color: white;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
